<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CIENCIA FICCION</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">



 
</head>

<body>

  <center>
    <header>
      CIENCIA FICCIÓN
    </header>
    <br>

  </center>

  <a href="index.html">PRINCIPAL</a>
  <br>

  <div class="container">
    <div class="pelicula">
      <img src="../Media/divergentePosterCF.jpg" alt="Divergente">
      <div class="info">
        <h2>Divergente</h2>
        <p><strong>Fecha de estreno:</strong> 21 de marzo de 2014</p>
        <p><strong>Sinopsis:</strong> En un mundo dividido en facciones según la personalidad, Tris Prior descubre que
          es divergente y no encaja en ninguna facción. Al descubrir una conspiración para eliminar a los de su tipo,
          Tris debe encontrar una manera de sobrevivir.</p>
        <div class="trailer">
          <iframe src="https://www.youtube.com/embed/GDn2gHVweMY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>
      </div>
    </div>

    <div class="pelicula">
      <img src="../Media/duneCf.jpg" alt="Dune">
      <div class="info">
        <h2>Dune</h2>
        <p><strong>Fecha de estreno:</strong> 22 de octubre de 2021</p>
        <p><strong>Sinopsis:</strong> Paul Atreides, un joven con un destino más grande de lo que imagina, viaja al
          planeta más peligroso del universo para asegurar el futuro de su familia y su pueblo. En medio de traiciones y
          conspiraciones, debe abrazar su destino.</p>
        <div class="trailer">
          <iframe src="https://www.youtube.com/embed/n9xhJrPXop4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>


    </div>

    <div class="pelicula">
      <img src="../Media/juegosdelhambre.jpg" alt="Los juegos del hambre: Sinsajo - Parte 1">
      <div class="info">
        <h2>Los juegos del hambre: Sinsajo - Parte 1</h2>
        <p><strong>Fecha de estreno:</strong> 20 de noviembre de 2014 </p>
        <p><strong>Sinopsis:</strong> Katniss Everdeen se encuentra en el Distrito 13 después de destrozar los juegos
          para siempre. Bajo el liderazgo de la comandante Coin y el consejo de sus amigos más leales, Katniss extiende
          sus alas mientras lucha por salvar a Peeta Mellark y a una nación alentada por su valentía.</p>
        <div class="trailer">
          <iframe src="https://www.youtube.com/embed/kmLk_-LQE6k" frameborder="0" allowfullscreen></iframe>

        </div>
      </div>


    </div>



  </div>







  </div>


</body>

</html>