<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="styles.css">

    









</head>

<body>

    <center>
		<header>ESTRENOS</header>


	</center>

	<a href="index.html">PRINCIPAL</a>

    <form action="" method="post">
        <fieldset>
            <legend>
                <legend> <strong>INFORMACION BASICA</strong></legend>
            </legend>
            Nombre: <input type="text" name="nombre" required placeholder="Digite su nombre porfavor "><br> <br>
            Email: <input type="email" id="em" name="em" required placeholder="Digite su email porfavor " equired
                placeholder="Digite su email porfavor "><br> <br>
            Identificacion: <input type="number" name="ident" id="ident"
                placeholder="Digite su identificacion porfavor "><br> <br>
            Genero: <br>
            Masculino:<input type="radio" name="gen" value="M" required> <br>
            Femenino:<input type="radio" name="gen" value="F" required><br>


        </fieldset>

        <fieldset>
            <legend>
                <legend> <strong>INFORMACION ADICIONAL</strong></legend>
            </legend>
            Ciudad: <select name="ciu" id="ciu" required>

                <option value="">Seleccione su ciudad</option>
                <option value="Bogota">Bogota</option>
                <option value="Medellin">Medellin</option>
                <option value="Cali">Cali</option>
                <option value="Barranquilla">Barranquilla</option>
                <option value="Cartagena">Cartagena</option>


            </select>
            Telefono: <input type="number" name="tel" required placeholder="Digite su telefono porfavor "><br> <br>
            Direccion: <input type="text" name="dir" required placeholder="Digite su direccion porfavor "><br> <br>
            Opinion: <br>
            <textarea name="op" id="op" cols="100" rows="50" placeholder="Digite su opinion porfavor "></textarea><br> <br>
        </fieldset>

        <input type="submit" value="Enviar">






    </form>













</body>

</html>