<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
	<title>ESTRENOS</title>
	<link rel="stylesheet" href="styles.css">

	
</head>

<body>

	<center>
		<header>ESTRENOS</header>


	</center>

	<a href="index.html">PRINCIPAL</a>

	<center>
		<table border="3">


			<tr>
				<td colspan="2" style="color: aliceblue;">
					<center>ESTRENOS</center>
				</td>
			</tr>

			<tr style="background-color: aqua;">
				<th>TITULO</th>
				<th>IMAGEN </th>
			</tr>

			<tr>
				<td style="color: aliceblue;">VOTOS DE AMOR</td>
				<TD><img src="../media/votosde amorRm.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">CORAZONES MALHERIDOS</td>
				<TD><img src="../media/corazonesmalheridosRm.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">MUJER BONITA</td>
				<TD><img src="../media/mujerBonitaRm.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">DIVERGENTE</td>s
				<TD><img src="../media/divergentePosterCF.jpg " width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">DUNE</td>
				<TD><img src="../media/duneCf.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;" >LOS JUEGOS DEL HAMBRE: SINSAJO PARTE 1</td>
				<TD><img src="../media/juegosdelhambre.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">¿QUE LE PASO A LUNES?</td>
				<TD><img src="../media/quepasolunesSus.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">EL TELEFONO</td>
				<TD><img src="../media/telefonoSus.jpg" alt="" width="400px"></TD>



			</tr>

			<tr>
				<td style="color: aliceblue;">LA DONCELLA/td>
				<TD><img src="../media/ladoncellaSUS.jpg" width="400px"></TD>



			</tr>


		</table>





	</center>






</body>

</html>