<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROYECTO 01</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">



  <body class="index-page">

  <body>
    <center>
      <header>
      CINEMA STELLAR
      <br>
      <div class="botones">
        <a href="cienciaficcion.html">CIENCIA FICCION</a>
        <a href="romance.html">ROMANCE</a>
        <a href="suspenso.html">SUSPENSO</a>
		<a href="estreno.html">ESTRENO</a>
    <a href="contactos.html">CONTACTOS</a>

       
      </div>
       </header>
    </center>
    
    <img src="../Media/otraimagenpacine.jpg" width="100%" height="600px" />

    <br />

	<div class="parrafoprincipal">

		<p>
			Bienvenidos a Cinema Stellar, el lugar donde la magia del cine se une con
			la comodidad y el lujo que mereces. Nos esforzamos en ofrecerte una
			experiencia cinematográfica inolvidable, con salas diseñadas para
			brindarte el máximo confort, tecnología de punta en sonido e imagen, y un
			ambiente acogedor que te hará sentir como en casa. En Cinema Stellar, no
			solo disfrutamos de las mejores películas, también te ofrecemos los
			precios más accesibles para que vivas momentos únicos sin preocuparte por
			tu bolsillo. Desde el mejor servicio hasta los estrenos más esperados,
			aquí todo está pensado para que cada visita sea una experiencia estelar.
			¡Te esperamos para compartir juntos la pasión por el cine como nunca
			antes!
		  </p>


	</div>
    
  </body>
</html>
