<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ROMANCE</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">



  
</head>

<body>

  <center>
    <header>
      ROMANCE
    </header>
    <br>

  </center>

  <a href="index.html">PRINCIPAL</a>
  <br>

  <div class="container">
    <div class="pelicula">
      <img src="../Media/corazonesmalheridosRm.jpg" alt="corazones Malheridos">
      <div class="info">
        <h2>Corazones Malheridos</h2>
        <p><strong>Fecha de estreno:</strong> 29 de julio de 2022</p>
        <p><strong>Sinopsis:</strong> Una aspirante a cantante se casa por conveniencia con un militar que está a punto
          de ir a la guerra, pero una tragedia convierte esta relación en realidad.</p>
        <div class="trailer">
          <iframe src="https://www.youtube.com/embed/sbNbeSCQfX8" frameborder="0" allowfullscreen></iframe>

        </div>
      </div>
    </div>

    <div class="pelicula">
      <img src="../Media/mujerBonitaRm.jpg" alt="Mujer Bonita">
      <div class="info">
        <h2>Mujer Bonita</h2>
        <p><strong>Fecha de estreno:</strong> 23 de marzo de 1990</p>
        <p><strong>Sinopsis:</strong>Un empresario contrata a una prostituta hermosa para que sea su acompañante durante
          una semana de negocios en Beverly Hills.</p>
        <div class="trailer">
          <iframe src="https://www.youtube.com/embed/zZPnhcuXfL4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>


    </div>

    <div class="pelicula">
      <img src="../Media/votosde amorRm.jpg" alt="Votos de Amor">
      <div class="info">
        <h2>Votos de Amor</h2>
        <p><strong>Fecha de estreno:</strong> 6 de febrero de 2012 </p>
        <p><strong>Sinopsis:</strong> Después de que su esposa despierta de un estado de coma con amnesia, un hombre
          intenta hacer que recupere su memoria y recuperar su relación.</p>
        <div class="trailer">
          <iframe src="https://www.youtube.com/embed/5QA9L8D5JUs" frameborder="0" allowfullscreen></iframe>

        </div>
      </div>


    </div>



  </div>







  </div>


</body>

</html>