<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUSPENSO</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">



  
</head>

<body>

  <center>
    <header>
     SUSPENSO
    </header>
    <br>

  </center>

  <a href="index.html">PRINCIPAL</a>
  <br>

  <div class="container">
    <div class="pelicula">
      <img src="../Media/ladoncellaSUS.jpg" alt="la doncella">
      <div class="info">
        <h2>La Doncella</h2>
        <p><strong>Fecha de estreno:</strong> 1 de junio de 2016</p>
        <p><strong>Sinopsis:</strong> Sookee es una joven que, en la Corea de los años 30, es contratada para servir como doncella en la casa de una rica heredera japonesa. Hideko, que vive recluida en una gran mansión bajo la influencia de un tirano, desconoce que, en realidad, la doncella está involucrada en un complot para estafarla.</p>
        <div class="trailer">
            <iframe  src="https://www.youtube.com/embed/QvXSGGiBIrE"  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="pelicula">
      <img src="../Media/telefonoSus.jpg" alt="El telefono">
      <div class="info">
        <h2>El Telefono</h2>
        <p><strong>Fecha de estreno:</strong> 27 de noviembre de 2020</p>
        <p><strong>Sinopsis:</strong>Conectado por un teléfono en la misma casa pero con 20 años de diferencia, un asesino en serie pone el pasado y la vida de otra mujer en juego para cambiar su propio destino.</p>
        <div class="trailer">
            <iframe src="https://www.youtube.com/embed/J9fNy0qvVVg"    frameborder="0"    allowfullscreen></iframe>
        </div>
      </div>


    </div>

    <div class="pelicula">
      <img src="../Media/quepasolunesSus.jpg" alt="que le paso a lunes">
      <div class="info">
        <h2>¿Qué le pasó a Lunes?</h2>
        <p><strong>Fecha de estreno:</strong>  30 de agosto de 2017 </p>
        <p><strong>Sinopsis:</strong> En un futuro en el que está prohibido tener más de un hijo, seis hermanas que fingen ser la misma para pasar inadvertidas tratan de escapar del control opresivo del Gobierno mientras buscan a la séptima hermana, que ha desaparecido..</p>
        <div class="trailer">
            <iframe  src="https://www.youtube.com/embed/sRIYLZJqbEY" frameborder="0" allowfullscreen></iframe>

        </div>
      </div>


    </div>



  </div>







  </div>


</body>

</html>